.app__form {
  font-family: var(--font-bioRhyme);
  width: 100%;

  label {
    margin-bottom: 0.4rem;
    font-size: 0.9rem;

    text-transform: uppercase;
    float: left;
  }

  input,
  textarea {
    width: 100%;
    color: var(--black);
    background: #fff;

    margin-bottom: 1rem;
    padding: 1rem;

    border: none;
    outline: none;
    border-radius: 7px;

    font-size: 0.9rem;
    font-family: var(--font-bioRhyme);
  }

  textarea {
    height: 9rem;
  }

  button {
    padding: 0.85rem 1.65rem;
    border-radius: 10px;
    border: none;

    font-weight: 700;
    font-size: 1rem;
    font-family: var(--font-bioRhyme);

    background-color: var(--secondary-color);
    color: #fff;
    margin-top: 1rem;

    @media screen and (min-width: 768px) {
      float: left;
    }
  }
  @media screen and (min-width: 768px) {
    .app__form--inline {
      display: inline-flex;
      gap: 1.3rem;
    }
  }
}
