.app__contact {
  min-height: calc(100vh - 51.19px);
  text-align: center;

  display: grid;
  justify-items: center;
  align-content: center;

  h1 {
    margin-bottom: 1.2rem;
  }

  main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    p {
      margin-bottom: 2rem;
      text-align: center;

      span {
        display: block;
      }
    }

    .app__contact--details {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;

      .app__contact--details--left {
        text-align: left;
        width: 60%;

        h1 {
          font-size: 1.8rem;
        }

        ul {
          list-style-type: none;

          a {
            text-decoration: none;
            color: inherit;
          }

          p {
            text-align: left;
            display: inline-flex;

            & :first-child {
              font-weight: 500;
              margin-right: 0.4rem;
            }

            span {
              display: flex;
              align-items: center;
              justify-content: center;
              svg {
                width: 30px;
                height: 30px;
                margin-right: 0.3rem;
              }
            }
          }
        }

        @media screen and (max-width: 760px) {
          display: none;
        }
      }
    }
  }

  .app__contact--icons {
    margin-top: 2.3rem;

    a {
      color: var(--secondary-color);
      padding: 10px;

      svg {
        width: 22px;
        height: 22px;
      }
    }
    @media screen and (min-width: 760px) {
      display: none;
    }
  }
}
