.app__contact {
  min-height: calc(100vh - 51.19px);
  gap: 1.2rem;
  text-align: center;

  display: grid;
  justify-items: center;
  align-content: center;

  main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    p {
      margin-bottom: 2rem;
      text-align: center;

      span {
        display: block;
      }
    }
  }

  .app__contact--icons {
    margin-top: 2rem;
    margin-bottom: -1.4rem;

    a {
      color: var(--black-color);
      padding: 10px;

      svg {
        width: 22px;
        height: 22px;
      }
    }
  }
}
