.app__contact {
  min-height: calc(100vh - 51.19px);
  gap: 1.2rem;
  text-align: center;

  display: grid;
  justify-items: center;
  align-content: center;

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    p {
      margin-bottom: 2rem;

      span {
        display: block;
      }
    }
  }
}
