.app__navbar {
  width: 100%;

  padding: 1rem;
  background: transparent;
  border: 2px solid var(--lightGray-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  position: sticky;
  z-index: 2;

  @media screen and (min-width: 768px) {
    padding: 1rem 2rem;
  }
}

.app__navbar--logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  font-size: 1.5rem;
  font-weight: bold;

  width: 90px;
  height: 20px;

  cursor: pointer;
  @media screen and (min-width: 2000px) {
    width: 180px;
    height: 40px;
  }
}

.app__navbar--links {
  ul {
    list-style: none;

    li {
      margin: 0 1rem;
      text-transform: capitalize;

      a {
        text-decoration: none;
        color: var(--black-color);

        font-weight: 500;
      }
    }
  }

  @media screen and (max-width: 760px) {
    display: none;
  }
}

.app__navbar--btn {
  background: var(--black-color);

  color: var(--white-color);
  font-weight: bold;

  border: 2px solid var(--black-color);
  border-radius: 50%;
  padding: 3px;

  cursor: pointer;
  svg {
    width: 22px;
    height: 22px;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.app__navbar--menu {
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    width: 35px;
    height: 35px;
  }

  section {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 4;

    height: 100vh;
    min-width: 70%;

    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;

    background: var(--black-color);
    color: var(--white-color);

    svg {
      width: 35px;
      height: 35px;
      margin: 1rem 2rem;
    }

    ul {
      list-style: none;
      height: 100%;
      width: 100%;
      padding-left: 2rem;

      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;

      li {
        text-transform: uppercase;
        padding: 1rem 0;
        width: 100%;

        border-bottom: 2px solid white;

        a {
          text-decoration: none;
          color: var(--white-color);
        }
      }
    }

    div {
      a {
        color: var(--white-color);

        svg {
          width: 16px;
          height: 16px;
        }
      }
    }
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}
