/** 
 * CONTENTS
 * 
 * app__navbar..........................global navbar styles
 * .active .............................javascript on-scroll styles
 * app__navbar--logo
 * app__navbar--links
 * app__navbar--btn
 * app__navbar--btn-open
 * app__navbar--menu
 */

/*------------------------------------*\
#NAVBAR
\*------------------------------------*/

.app__navbar {
  width: 100%;

  padding: 1rem 2rem;
  background: transparent;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  z-index: 2;

  @media screen and (min-width: 768px) {
    padding: 1.2rem 3rem;
  }
}

.active {
  padding: 1rem 2rem;
  position: fixed;
  top: 0;
  left: 0;

  color: var(--black);
  background-color: #f2cc6c46;

  .app__navbar--logo {
    font-size: 1.9rem;
    a {
      color: var(--secondary-color);
    }
  }

  .app__navbar--links {
    ul {
      li {
        font-size: 1.1rem;
        a {
          color: var(--black);
        }
      }
    }
  }

  .app__navbar--btn,
  .app__navbar--btn-open {
    color: var(--black);
    background: none;
    border: 1px solid var(--black);

    font-size: 0.9rem;

    svg {
      width: 22px;
      height: 22px;
    }
  }

  .app__navbar--menu {
    svg {
      width: 30px;
      height: 30px;
    }

    section {
      svg {
        width: 30px;
        height: 30px;
        margin: 1rem 1.8rem;
      }

      div {
        a {
          svg {
            width: 20px;
            height: 20px;
          }
        }
      }
    }
  }
}

.app__navbar--logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  font-size: 2.2rem;
  font-weight: 700;

  width: 90px;
  height: 20px;

  cursor: pointer;

  a {
    text-decoration: none;
    color: inherit;
    font-family: var(--font-bioRhyme);
  }
  @media screen and (min-width: 2000px) {
    width: 180px;
    height: 40px;
  }
}

.app__navbar--links {
  ul {
    list-style: none;

    li {
      margin: 0 1rem;
      text-transform: capitalize;

      a {
        text-decoration: none;
        color: var(--secondary-color);

        font-weight: 500;
      }
    }
  }

  @media screen and (max-width: 760px) {
    display: none;
  }
}

.app__navbar--btn {
  background: none;

  color: var(--black);
  font-weight: bold;

  border: 1px solid var(--black);
  border-radius: 50%;
  padding: 0.4em;

  cursor: pointer;
  svg {
    width: 24px;
    height: 24px;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.app__navbar--btn-open {
  background: none;
  color: var(--black);

  display: inline-flex;
  justify-content: center;
  align-items: center;

  font-weight: bold;
  font-size: 0.9rem;

  border: 1px solid var(--black);
  border-radius: 55px;
  padding: 0.4em 0.8rem;

  cursor: pointer;
  svg {
    width: 23px;
    height: 23px;
    margin-right: 0.5rem;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.app__navbar--menu {
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    width: 35px;
    height: 35px;
  }

  section {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;

    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;

    box-shadow: 2px 5px 8px var(--black);

    background: var(--primary-color);
    color: var(--black);

    svg {
      width: 35px;
      height: 35px;
      margin: 1rem 2rem;
    }

    ul {
      list-style: none;
      height: 100%;
      width: fit-content;
      padding-left: 2rem;
      margin: auto;

      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      position: relative;

      li {
        text-transform: uppercase;
        font-weight: 500;
        text-align: center;
        padding: 1rem 0;
        width: fit-content;

        &::before {
          content: '-----';
          height: 2px;
          width: 10px;
          color: var(--secondary-color);
        }

        &::after {
          content: '-----';
          height: 2px;
          width: 1rem;
          color: var(--secondary-color);
        }

        a {
          text-decoration: none;
          color: var(--black);
        }
      }
    }

    .app__navbar--menu-icons {
      width: fit-content;
      position: absolute;
      bottom: 0;

      a {
        color: var(--black);

        svg {
          width: 20px;
          height: 20px;
          margin: 1rem 1.3rem;
        }
      }
    }
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}
