.app {
  background-color: var(--white--color);
  font-family: var(--font-base);
}

.app--wrapper {
  padding: 1rem;
  min-height: 100vh;
  max-width: 2000px;

  @media screen and (min-width: 768px) {
    padding: 2rem;
  }
}

.flex--center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex--between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.p--text {
  font-size: 0.9rem;
  text-align: left;
  color: var(--black-color);
  line-height: 1.5;
}

.emphasis--text {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--black-color);
}

.head--text {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--black-color);
}
