.app {
  background-color: var(--primary-color);
  font-family: var(--font-base);
}

.app--wrapper {
  padding: 1rem;
  min-height: 100vh;
  max-width: 2000px;

  @media screen and (min-width: 768px) {
    padding: 2rem;
  }
}

.flex--center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex--between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.p--text {
  font-size: 1.3rem;
  text-align: left;
  color: var(--black-color);
  line-height: 1.5;
}

.emphasis--text {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--secondary-color);
}

.head--text {
  font-size: 3rem;
  font-weight: 700;
  color: var(--secondary-color);
}
