@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
  --font-base: 'Poppins', sans-serif;

  --primary-color: #0e86d4;
  --secondary-color: #0ed4bf;
  --darkBlue-color: #0e23d4;
  --black-color: #030303;
  --white-color: #f9f3fb;
  --lightGray-color: #e4e4e4;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
