@import url('https://fonts.googleapis.com/css2?family=BioRhyme:wght@300;700&family=Cormorant:ital,wght@1,500;1,700&display=swap');

:root {
  --font-base: 'Cormorant', serif;
  --font-bioRhyme: 'BioRhyme', serif;

  --primary-color: #ffe6ad;
  --secondary-color: #9a008a;
  --black: #030303;
  --white: #bed9da;

  --lightGray-color: whitesmoke;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
